<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="mat-drawer-sidenav" mode="over">
    <div class="logo-container">
      Logo Container
    </div>
    <mat-nav-list>
      <a mat-list-item>
        <div class="mat_list_item_container">
          <mat-icon>window</mat-icon>
          <span>Dashboard</span>
        </div>
      </a>
      <a mat-list-item>
        <div class="mat_list_item_container">
          <mat-icon>person</mat-icon>
          <span>User</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="mat-sidenav-content">
    <mat-toolbar>
      <mat-toolbar-row>
        <button class="menu-btn" mat-mini-fab (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>