<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            <h1>{{ user.firstName }} {{ user.lastName}}</h1>
        </mat-card-title>
        <mat-card-subtitle>
            {{ user.email }}
        </mat-card-subtitle>
        <img class="title-img" src="/img/profile.png">
    </mat-card-header>
</mat-card>

<mat-card class="mt-16">
    <mat-card-header>
        <mat-card-title>
            <h2>Infos</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="info-container">
            <p>Birthday:</p>
            <p>{{ user.birthDate }}</p>
        </div>
        <div class="info-container">
            <p>Email:</p>
            <p>{{ user.email }}</p>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="mt-16">
    <mat-card-header>
        <mat-card-title>
            <h2>Address</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="info-container">
            <p>Street:</p>
            <p>{{ user.address }}</p>
        </div>
        <div class="info-container">
            <p>City:</p>
            <p>{{ user.zipCode }} {{ user.city }}</p>
        </div>
    </mat-card-content>
</mat-card>