<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            <h1>{{ (user$ | async)?.firstName }}  {{ (user$ | async)?.lastName }} </h1>
        </mat-card-title>
        <mat-card-subtitle>
            {{ (user$ | async)?.email }} 
        </mat-card-subtitle>
        <img class="title-img" src="/img/profile.png">
    </mat-card-header>
    <mat-card-content>
        <button mat-button (click)="openEditUserDialog()">
            <mat-icon>edit</mat-icon>
            Edit Profile
        </button>
    </mat-card-content>
</mat-card>

<mat-card class="mt-16">
    <mat-card-header>
        <mat-card-title>
            <h2>Infos</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="info-container">
            <p>Birthday:</p>
            <p>{{ (user$ | async)?.birthDate | date: 'yyyy-MM-dd' }} </p>
        </div>
        <div class="info-container">
            <p>Email:</p>
            <p>{{ (user$ | async)?.email }} </p>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="mt-16">
    <mat-card-header>
        <mat-card-title>
            <h2>Address</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="info-container">
            <p>Street:</p>
            <p>{{ (user$ | async)?.address}} </p>
        </div>
        <div class="info-container">
            <p>City:</p>
            <p>{{ (user$ | async)?.zipCode }} {{ (user$ | async)?.city }}</p>
        </div>
    </mat-card-content>
</mat-card>