<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            <h1>Csaba Miska</h1>
        </mat-card-title>
        <mat-card-subtitle>
            miskacs90&#64;icloud.com
        </mat-card-subtitle>
        <img class="title-img" src="/img/profile.png">
    </mat-card-header>
</mat-card>

<mat-card class="mt-16">
    <mat-card-header>
        <mat-card-title>
            <h2>Infos</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="info-container">
            <p>Birthday:</p>
            <p>28.04.1990</p>
        </div>
        <div class="info-container">
            <p>Email:</p>
            <p>miskacs90&#64;icloud.com</p>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="mt-16">
    <mat-card-header>
        <mat-card-title>
            <h2>Address</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="info-container">
            <p>Street:</p>
            <p>Wieselweg 9c</p>
        </div>
        <div class="info-container">
            <p>City:</p>
            <p>55442 Stromberg</p>
        </div>
    </mat-card-content>
</mat-card>